/*
-------------------------------------
----------------------------------------
1.  General Style
2.  Typography
3.  Header Area
4.  Banner Area
5.  About Area
6.  Video Area
7.  What we do
8.  How we work
9.  Portfolio Area
10. Footer Top Area
11. Portfolio Header Area
12. Portfolio Banner Area
12. Portfolio All item Area

-------------------------------------------
1. General Style
-------------------------------------------
*/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500,700,800,900');

html {
    font-size: 100%;
}

body {
    background: #02101E none repeat scroll 0 0 !important;
    font-family: 'Hind', sans-serif;
    color: #ececec !important;
    font-size: 16px;
    line-height: 24px;
    /* letter-spacing: -0.1px; */
    margin: 0;
    padding: 0;
    position: relative;

    overflow-x: hidden !important;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: #e9ecee;
}

.form-control:hover {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: #e9ecee;
}

.form-control:active {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: #e9ecee;
}

/*
-------------------------------------
2. Typography
-------------------------------------
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    color: #ffffff;
    margin: 0 0 0px;
    /* letter-spacing: 1.1px; */
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    line-height: 80px;
    text-shadow: 1px .5px 0 #2b4c72;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 32px;
    text-shadow: 1px .5px 0 #2b4c72;
}

h3 {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.1px;
    text-shadow: 1px .5px 0 #2b4c72;
}

h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-shadow: 1px .5px 0 #2b4c72;
}

h5 {
    font-size: 22px;
    font-weight: 700;
    text-shadow: 1px .5px 0 #2b4c72;
}

h6 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -.1px;
    text-shadow: 1px .5px 0 #2b4c72;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

a {
    color: #fbfbfb !important;
    letter-spacing: 1.2px;
    text-shadow: 1.5px .8px 0 #234368;
}

a:hover {
    color: rgb(233, 109, 109);
}

p {
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 27px;
    text-shadow: 1px .3px 0 #1f3357;
    letter-spacing: .2px;

}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.btn {
    padding: 0;
}

.btn {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 50px;
    background: #ee4035;
    color: #fff;
    border-radius: 4px !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
}

.btn a:hover {
    background: #fff;
    color: #FF5E14;
    border: 2px solid #FF5E14;
}

button:focus {
    outline: none;
}

span {
    font-family: 'Poppins', sans-serif;
    color: #eeeeee;
}

.color-1 {
    background-color: #02101E !important;
    color: #fbfbfb;
}

.color-2 {
    color: #ffffff !important;
}

.color-3 {
    color: #dadada;
}

.color-4 {
    color: #FF5E14;
}

.color-5 {
    background-color: #000000;
}

.color-7 {
    background-color: #27323D !important;
    color: #ffffff !important;
    border: none !important;
}

.footer-bg {
    background-color: #001031;
}

.color-6 {
    background-color: #29343F;
    color: #F0E0E0;
    border-radius: 14px;
}

.color-8 {
    background-color: #272e38;
    color: #f0fbff;
    border-radius: 4px;
    padding: 8px 14px;
}

.color-9 {
    background-color: #e1edff;
    border-radius: 50%;

}

.color-10 {
    background-color: #041B32;

}

.color-11 {
    color: #0c2641 !important;

}

.navbar-toggler-icon::before {
    content: "";
    color: #d9dce6 !important;
}

/* Underline From Left */
.hvr-underline-from-left {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #EE4035;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
    right: 0;
}

.object-fit {
    object-fit: cover;
}

/* banner  */
.top-nav {
    background: #02101E !important;
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
    -webkit-box-shadow: 0px 0px 6px 0px rgb(61, 79, 102);
    box-shadow: 0px 0px 1px 0px rgb(79, 99, 117);
    height: 50px;
    padding-top: 70px;
    padding-bottom: 70px;
}

#banner h1 {
    padding: 0px 0 250px 0px;

}

.service-bg-2 {
    background-color: #fff;
    border-radius: 30px;
    padding: 8px;
}

.banner-2 {
    background: url(assets/images/Posters/ex.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;

}

.banner-text {
    display: table;
    height: 100%;
    width: 100%;
    text-align: left;
}

.table-cell {
    display: table-cell;
}

#banner .banner-text h1 {
    font-weight: 500;
    color: #ffffff;
    text-shadow: 2px 2px 0 #275d9e, 2px -2px 0 #265a99, -2px 2px 0 #24599b, -2px -2px 0 #2e64a7, 2px 0px 0 #325b8d, 0px 2px 0 #3466a3, -2px 0px 0 #3571bb, 0px -2px 0 #3969a3;
    font-size: 50px;
}

#banner .banner-text span {
    color: #e2453a;
    /* text-shadow: none; */
    text-shadow: 4px 3px 0 #234368;
    font-weight: 700;
    font-size: 60px;
}

.banner-item {
    position: relative;
}

.scroll-down {
    position: absolute;
    bottom: 10%;
    right: 40%;
}

.scroll-down span {
    color: hsla(231, 9%, 85%, 0.753);
    font-size: 18px;
    font-weight: 500;
}

.scroll-down i {
    width: 26%;
    font-weight: 38px;
    margin-left: 15px;
}

/* about us  */

#about .about-left-sight:after {
    position: absolute;
    content: "";
    background: hsla(210, 11%, 25%, 0.74);
    height: 501px;
    width: 350px;
    top: -50px;
    left: -50px;
    z-index: -1;
    box-shadow: 0px 0px 5px 0px hsla(0, 9%, 37%, 0.431);
}

#about .about-left-sight:before {
    position: absolute;
    content: "";
    background: hsla(204, 4%, 23%, 0.335);
    height: 402px;
    width: 240px;
    top: -95px;
    left: -105px;
    z-index: -1;
    box-shadow: 0px 0px 5px 0px hsla(0, 0%, 38%, 0.424);
}

#about h1 {
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
}

#about p {
    text-align: justify;
}

#about span {
    font-weight: 700;
    font-size: 48px;
    color: #ffffff;
}

/* what we  */
.what-we-item {
    box-shadow: 0px 1px 2px 0px;
    height: 430px;
    padding: 12px;
    border-radius: 15px;
    overflow: hidden;
}


#how-we {
    background: #02101E;
    color: #FDEBEB;
    padding-bottom: 150px;
}



.work-task article {
    width: 100%;
    text-align: center;
}



.data-content h3 {
    font-size: 24px;
    display: inline-block;
    border-bottom: 2px dotted rgb(58, 62, 105);
    margin: 4px;
}

.data-content p {
    padding: 14px;

}

.task-icon img {
    height: 80px;
}

/* footer  */
#footer a {
    color: #FDEBEB;
}

.privacy-faqs a {
    color: gray !important;
    font-size: 12px !important;
    margin-top: 10px;
    padding-right: 5px;
}

#footer a:hover {
    color: #EE4035 !important;
}

.social-icons {

    background-color: #192745;
    border-radius: 25px;
    margin-top: 10px;
    align-items: center;
}

.social-icons:hover {
    color: #192745;
    background-color: #EE4035;
}

/* scroll  */
#scroll {
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #1a2a4e;
    text-indent: -9999px;
    display: none;
    z-index: 10;
}

#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
}

#scroll:hover {
    background: #e98c8c !important;
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}